{% extends 'menu.html.twig' %}

{% block title %}Tickets index{% endblock %}
{% block body %}

<div class="tableWrapper">
<h1>Tickets index</h1>
    <table class="overview">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Message</th>
            <th>DateTime</th>
            <th>Status</th>
            <th>priority</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>

        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.message }}</td>
                <td>{{ ticket.dateTime ? ticket.dateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ticket.status }}</td>
                <td>
                {% if is_granted('ROLE_AGENT') or is_granted('ROLE_SECOND_LINE_AGENT') or is_granted('ROLE_MANAGER') %}
                    {{ ticket.priority  ? 'Yes' : 'No' }}
                {% endif %}
                </td>
                <td>
                    <a href="{{ path('tickets_show', {'id': ticket.id}) }}">show</a><br>
                    {% if is_granted('ROLE_MANAGER')%}

                        {% if ticket.priority == false %}
                            <a href="{{ path('tickets_priority', {'id': ticket.id}) }}"> Set priority</a><br>
                        {% else %}
                            <a href="{{ path('tickets_no_priority', {'id': ticket.id}) }}"> Remove priority</a><br>
                        {% endif %}


                    {% endif %}
                    {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_AGENT') or is_granted('ROLE_SECOND_LINE_AGENT') %}
                    {% if ticket.status == 'open' %}
                        <a href="{{ path('tickets_update', {'id': ticket.id}) }}">Claim ticket</a><br>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
