{% extends 'menu.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
    <div class="tableWrapper">
        <h1>Ticket</h1>

        <table class="overview">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ticket.title }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ ticket.message }}</td>
            </tr>
            <tr>
                <th>DateTime</th>
                <td>{{ ticket.dateTime ? ticket.dateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ticket.status }}</td>
            </tr>
            {% if is_granted('ROLE_AGENT') or is_granted('ROLE_MANAGER') or is_granted('ROLE_SECOND_LINE_AGENT')  %}
                <tr>
                    <th>Priority</th>
                    <td>{{ ticket.priority ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    {% if ticket.status == 'open' %}
                        <a href="{{ path('tickets_update', {'id': ticket.id}) }}">Claim ticket</a><br>
                    {% endif %}
                </tr>
            {% endif %}
            </tbody>
        </table>

            {% if ticket.status == 'in progress' %}
                <table class="overview">
<h1>Comments</h1>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.comment }}</td>
                    {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_AGENT') or is_granted('ROLE_SECOND_LINE_AGENT') %}
                    <td>{{ comment.isPrivate ? 'Private' : 'Not private' }}</td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('comments_new', {'id': ticket.id}) }}">Create new comment</a><br>
        {% endif %}
        {% if ticket.status == 'open' %}
        <a href="{{ path('tickets_index') }}">back to list</a>
        {% else %}
        <a href="{{ path('tickets_agent') }}">back to list</a>
        {% endif %}

    </div>

{% if is_granted('ROLE_MANAGER') %}
    <label>
        <select name="agent">
            <option>Assign agent</option>
            {% for user in users %}
                <option value="{{ user.id }}" selected="selected">{{ user.first_name }}{{ user.last_name }}</option>
            {% endfor %}
        </select>
    </label>
    {% endif %}

{% endblock %}
