{% extends 'base.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
    <h1>Tickets</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ticket.title }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ ticket.message }}</td>
            </tr>
            <tr>
                <th>DateTime</th>
                <td>{{ ticket.dateTime ? ticket.dateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ticket.status }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ ticket.priority ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tickets_index') }}">back to list</a>

    <a href="{{ path('tickets_edit', {'id': ticket.id}) }}">edit</a>

    {{ include('tickets/_delete_form.html.twig') }}
    <table class="overview">

        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.comment }}</td>
                <td>{{ comment.isPrivate ? 'Yes' : 'No' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('comments_new', {'id': ticket.id}) }}">Create new comment</a>
{% endblock %}
